{% extends 'base.html.twig' %}

{% block title %}Formulaire de modification{% endblock %}

{% block body %}
<div class="container-fluid p-0">
    <h1 class="mb-4">Formulaire de modification</h1>
    {{ form(form) }}

</div>
{% endblock %}
